
#area-1{
	margin:0 auto;
	height: 1000px;
	width:1000px;
}

.section-header{
	text-align: center;
	color: #FFFFFF;
	background-color: rgba(0, 0, 0, 0.35);
	float: left;
	margin: 5px 0 30px -1px;
	width: 100%;
	border-radius: 5px;
	box-shadow: 5px 5px 10px rgb(54, 54, 54);
	height: 30px;
}

.section-header-text{
	margin-top: 5px;
}

.oponent-data{
	/*background: url('../images/Fondos/bg.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    
	border:1px solid #d1d1c9;
    background-color: white;
    color:black;
    height: 20px;
    padding:5px 0 5px 10px;
    float:left;
    width: 435px;
    margin: 0 0 20px 0;
    border-radius:10px;
}

#image-user{
	float:left;
	width: 100px;
	height:30px;
}

#section-1{
	margin: 75px 0 0 0;
	float:left;
}

.shadow-box{
	box-shadow: 5px 5px 10px rgb(54, 54, 54);
}


#oponent1{
	width: 448px;
	height:520px;
	float:left;
	margin: 0 0 50px 0;
	padding: 10px;
	border:1px solid #d1d1c9;
	background-color: white;
	border-radius: 10px;
}

#image-user{
	float:left;
	width: 100px;
	height:100px;
}
#user-medals{
	float:left;
	width: 300px;
	height: 30px;
	margin: 20px 0 0 20px;
}
#user-wins{
	float:left;
	width: 300px;
	height:20px;
	margin: 5px 0 0 20px;
}

#oponent2{
	margin: 0 0 50px 60px;
	width: 448px;
	height:520px;
	float:left;
	padding: 10px;
	border:1px solid #d1d1c9;
	background-color:white;
	border-radius: 10px;
}

.oponent-data2{
	border:1px solid #d1d1c9;
    background-color: white;
    color:black;
    height: 20px;
    padding:5px 0 5px 10px;
    float:left;
    width: 435px;
    margin: 0 0 20px 0;
    border-radius:10px;
    box-shadow: 0 0 5px black;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}

#info{
	width: 1000px;
	float:left;
	height:390px;
	margin: 20px 0 0 0;
}

.info-section{
	text-shadow: 0 0 1px rgb(46, 46, 46);
	text-align:center;
	width:199px;
	float:left;
	height:100%;
	margin: 0 0 0 65.3px;
}

#send-challenge{
	float:left;
	width: 100px;
	height:100px;
}

#info-challenge{
	float:left;
	width: 300px;
	margin: 20px 0 0 20px;
}










